// Color Variables
$primary-color: #329766;
$secondary-color: #A6D2C9;
$text-color: #333333;
$text-color-light: #fff;
$text-color-dark: #333333;
$body-color: #A6D2C9;
$border-color: #F7BFEB;
$black: #333333;
$white: #fff;
$light: #A6D2C9;
$gray: #dddddd;

// Font Variables
$primary-font: "Raleway", sans-serif;
$secondary-font: 'sans-serif';
$icon-font: 'themify';